 .u-section-1 {
  background-image: url("images/Background.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 666px;
}

.u-section-1 .u-group-1 {
  width: 474px;
  min-height: 229px;
  height: auto;
  background-image: none;
  margin: 19px auto 60px 13px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-image-1 {
  width: 252px;
  height: 133px;
  margin: 6px auto 0 6px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: -82px 11px 0 auto;
  padding: 8px 21px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 290px;
  margin: 52px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-1 .u-group-1 {
    width: 385px;
    min-height: 244px;
    margin-top: 50px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 9px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 19px;
    margin-right: auto;
    margin-left: 4px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -51px;
    margin-right: 3px;
    margin-left: 117px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-group-1 {
    width: 383px;
    min-height: 233px;
    margin-top: 21px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 115px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 272px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 39px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 11px;
    margin-left: 131px;
  }
}